#HomeBody{

    height: 1000px;
    background: #F05651; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right top, #F05651, #F6884C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom left, #F05651, #F6884C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom left, #F05651, #F6884C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, #F05651, #F6884C); /* Standard syntax (must be last) */
    font-size: 22px    !important;
    color: white;
}

.modal-header{
  background: #3e4a58; /* For browsers that do not support gradients */
  color:white;
}
.modal-body{

}
body{
    height: 1500px;
    background: #3e4a58; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top bottom, #3b4554 , #3e4a58); /* For Safari 5.1 to 6.0 */
    font-size: 22px    !important;
    color: white;
}
#userinfo{
    display: block;
    width: 200px;
    color:#bca
}

.navbar{
  background: #D0D4D6;
  color: #3E4A58;
}
.navbar-brand{
  color: #3E4A58;
  font-weight: bold;
  font-size: 28px;
}
.nav navbar-nav{
    color:#3E4A58;
}

.div{
    text-align: center;

}
#addbook{
  background: #e59057;
  background-size: 190px 280px;
  height: 280px;
  width: 190px;
  color:#3E4A58;
  font-size: 200px;
  text-align: center;
  margin-bottom: 22px;
}
.grey-box{
  background: url("http://books.google.com/books/content?id=GZAoAQAAIAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api");
  background-size: 190px 280px;
  height: 280px;
  width: 190px;
  font-size: 32px;
  text-align: center;
  margin-bottom: 22px;
}
h4.text-label {
    text-transform: uppercase;
    font-family: 'Domine', serif;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #555;
    padding-bottom: 0.5em;
}
.btn-primary{
  font-size: 20px;
}

.btn-info{
  font-size: 20px;
}
#myModal{
  color: black;
}

#text {
    padding:25px;
    border:1px solid #AABBCC;
    color: #AAA;
}
#bookDescription {
    padding:25px;
    border:1px solid #AABBCC;
    text-align: center;
    color: white
    ;
}
